// Style config: https://theme-hope.vuejs.press/config/style.html
// Customize color: https://theme-hope.vuejs.press/guide/customize/color.html

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('@theme/assets/fonts/Noto_Sans/NotoSans-Regular.ttf');
}
@font-face {
  font-family: 'Noto Sans Bold';
  font-style: bold;
  font-weight: 600;
  src: url('@theme/assets/fonts/Noto_Sans/NotoSans-Bold.ttf');
}

$font-family: '"Noto Sans", sans-serif' !default;
$font-family-heading: '"Noto Sans Bold", sans-serif' !default;
$theme-color: #17b53f;
$text-color: (
  light: #2c3e50,
  dark: #b3b3b3,
);
$ocelot-background-transparent: rgba(0, 0, 0, 0);
$ocelot-border-color: #e5e4e6;
$ocelot-button-hover-background-color-light: #f5f4f6;
$ocelot-button-hover-background-color-dark: rgba(255, 255, 255, 0.15);
$ocelot-button-color: rgba(255, 255, 255, 0.85);
$ocelot-button-border-color: rgba(255, 255, 255, 0.66);

html {
  margin: 0;
};

body {
  font-family: 'Noto Sans';
};

h1, h2, h3, h4 {
  font-family: 'Noto Sans Bold';
};

.vp-project-home [vp-content]:not(.custom) {
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
}

.vp-project-home [vp-content]:not(.custom) #markdown-content {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 2rem 2.5rem;

  @media (max-width: 959px) {
    padding: 1.5rem;
  }

  @media (max-width: 719px) {
    padding: 1rem 1.5rem;
  }
}

// Blog

.vp-blog-hero {
  display: none;
}

// 2 columns from desktop width for article overviews
@media (min-width: 1024px) {

  #article-list,
  .vp-article-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.25rem;
  }

  #article-list>*,
  .vp-article-list>* {
    height: 100%;
  }
}

// crop article image
.page-cover img {
  max-height: 420px !important;
}

// Button

[vp-content] Button {
  font-size: 1.1em;
  color: var(--text-color);
  background-color: $ocelot-background-transparent;
  border-color: $ocelot-border-color;
  transition: 0.3s;
  border-width: 2px !important;
  border-style: solid;
  border-radius: 5px;
  padding: 12px 16px;
  margin-top: 12px;
  cursor: grab;

  html[data-theme="dark"] & {
    background-color: $ocelot-background-transparent;
  }
}

[vp-content] Button:hover {
  color: black;
  background-color: $ocelot-button-hover-background-color-light;
  border-color: $ocelot-border-color;

  html[data-theme="dark"] & {
    color: white !important;
    background-color: $ocelot-button-hover-background-color-dark !important;
    border-color: white !important;
  }
}

.hero-button {
  font-size: 1.1em;
  color: $ocelot-button-color !important;
  background-color: $ocelot-background-transparent;
  border-color: r$ocelot-button-border-color;
  transition: 0.3s;
  border-style: solid;
  border-radius: 5px;
  margin: 40px;
  padding: 12px 16px;
}

.hero-button:hover {
  color: white !important;
  background-color: $ocelot-button-hover-background-color-dark !important;
  border-color: white !important;
  cursor: grab;
}

[vp-content] Button.donate-button {
  background-color: $theme-color;
  opacity: 0.85 !important;
  border: 0 !important;
  color: white !important;

  html[data-theme="dark"] & {
    background-color: rgba($theme-color, 0.75) !important;
  }
};

[vp-content] Button.donate-button:hover {
  opacity: 1.0 !important;
};

.image-grid {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.hero-container {
  background-image: linear-gradient(#282a82, #5e0d46);
  width: 100%;
  margin-bottom: 0.5rem;
  color: #eee;
}

.hero-container-inner {
  background-image: url("/society-tile-399x122.png");
  background-repeat: repeat-x;
  background-position: center bottom;
}

.hero-container-content {
  width: 100%;
  // margin: 2.8em auto;
  margin: 0;
  text-align: center;
}

#logo {
  width: 150px;
  margin-top: 40px;
}

.slogan {
  display: block;
}

#slogan-container {
  margin: 30px auto;
}

#slogan-1 {
  font-family: 'Noto Sans Bold';
  font-weight: bold;
  font-size: 3em;
}

#slogan-2 {
  font-family: 'Noto Sans';
  font-size: 2em;
}

@media screen and (max-width: 650px) {
  .hero-button {
    margin: 16px 0;
  }
  
  #slogan-1 {
    font-size: 2.7em;
    line-height: 1.1em;
  }

  #slogan-2 {
    font-size: 1.85em;
    line-height: 1.1em;
    margin-top: 0.5em;
  }
}

#main-title {
  position: absolute;
  top: -100;
  opacity: 0 !important;
}

#main-description {
  display: none;
}

.image-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-bottom: 1em;
}

.image-grid figure {
  text-align: center;
  width: 300px;
  height: auto;
  flex-shrink: 1;
}

.all-features {
  text-align: center;
}

h2.large-header {
  font-size: 2.2em;
  line-height: 1.2em;
  text-align: center;
  margin-top: 0;
  padding-top: 2.8em !important;
  border: 0;
}

#feature-headline {
  margin-bottom: 1em;
}

.benefits-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.benefits-grid figure {
  width: 300px;
  height: auto;
  flex-shrink: 1;
  align-items: stretch;
}

.benefits-grid span,
.benefits-grid .vp-icon {
  font-size: 3rem;
}

.center {
  max-width: 1160px;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
}

.center table {
  width: fit-content;
  margin: 0 auto !important;
  text-align: center;
}