name: build test CI

on: [push,pull_request_target]

jobs:
  build-test:
    name: Build Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4.1.7

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v4.0.3
        with:
          node-version-file: '.nvmrc'

      - name: npm-install
        run: npm install
      
      - name: npm-build
        run: npm run build
