name: lint test CI

on: [push,pull_request_target]

jobs:
  build-test:
    name: Lint Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4.1.7

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v4.0.3
        with:
          node-version-file: '.nvmrc'

      - name: npm-install
        run: npm install
      
      - name: npm-test
        run: npm test
