name: lint test CI

on: [push,pull_request_target]

jobs:
  build-test:
    name: Lint Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4.1.7

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v4.0.3
        with:
          node-version-file: '.nvmrc'

      - name: npm-install
        run: npm install
      
      - name: npm-test
        run: npm test
